* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red;       */
}

/* Estilos generales */

body {
    font-family: "Goldman", sans-serif;
}

h1 {
    
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    color: #d7d8e7;
    font-style: normal;
    font-size: 7rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(17, 15, 15);
    animation: shadowAnimation 2s infinite alternate; 
}
/* sombra para los h1 */
@keyframes shadowAnimation {
    0% {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    50% {
        text-shadow: 2px 2px 4px rgba(28, 23, 43, 0.992); /* Cambia el color a rojo en el medio de la animación */
    }
    100% {
        text-shadow: 4px 4px 8px rgba(38, 17, 63, 0.962); /* Cambia el color a azul al final de la animación */
    }
}

h2 {
    color: silver;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px black;
}


h3 {
    color: #dbddf6;
    font-size: 2rem;
}

p {
    color: #F2F3FD;
    font-size: 1.2rem;
}

a {
    font-size: 1rem;
}
/* animacion para h2 */
.animacionH2 {
    animation: desvanecer 5s ease-in-out infinite alternate;
}
@keyframes desvanecer {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0.3;
    }
}
/* animacion para h3 */
.animacionH3 {
    animation: agrandar 3s ease-in-out infinite alternate;
}
@keyframes agrandar {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(1.1);
    }
}



/** Estilo para portada de pagina principal*/
.portada {
    background-image: url("../assets/img/portada.jpg");
    background-size: cover;
    color: white;
    height: 60rem;
    padding-top: 20px;
}

.portada h1 {
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    text-align: center;
    text-shadow: 2px 5px 5px rgba(33, 40, 58, 0.756);
    padding: 15%;
}


/* aplicando animacion al h1 de pagina principal */
.animacion1 {
    animation: desvanecer 10s ease-in-out infinite alternate; 
}
@keyframes desvanecer {
    0% {
    opacity: 1;
    }
    100% {
    opacity: 0.7;
    }
}
@keyframes desvanecer {
    0% {
    opacity: 1;
    }
    50% {
    opacity: 0.3;
    }
    100% {
    opacity: 1;
    }
} 


/** Etilo para la "barra de navegacion" que se repite en las 5 paginas*/

.navegador {
    top: 0;
    right: 0; 
    background-color: rgba(22, 25, 46, 0.616);
    padding: 12px; 
    margin: 0 50px 0 1200px; 
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.456); 
    transition: all 300ms;
}

.navegador ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* justify-content: center;  */
}    

.navegador li {
    display: flex;
    display:inline-block;
    margin-left: 10px;
}

.navegador a {
    font-family: "Goldman", sans-serif;
    font-weight: 50px;
    color: white; 
    text-decoration: none;
    padding: 15px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
} 

/** animacion en la barra de navegacion **/
.navegador:hover {
    scale: 1;
    background: rgba(45, 73, 97, 0.694);
    box-shadow: 0 0 10px rgb(65, 59, 59);
}
/* aca se oculta el menu desplegable del desktop */
.navegador #toggle, .navegador label {
    display: none;
}
/* img del menu */
.navegador label img {
    width: 40px;
}


/** Estilos para la pagina principal */
.texto1Home {
    /* background-color: #365486; */
    background: linear-gradient(to bottom, #365486 50%, #88A8D9 100%); /* degradado de color */
    display: flex;
    width: 100%; 
    height: 600px;
    padding: 200px; 
    justify-content: space-between; 
    align-items: stretch;  
}

.articleHome1, .articleHome2 {
    flex: 1; 
    padding: 20px;
    text-align: center;
    margin-left: 20px; 
}

.articleHome2 ul {
    font-size: 1.2rem;
    list-style-type: none;
    color: #F2F3FD;
    margin-top: 40px;
}


.homePhoto img {
    width: 100%;
    height: 900px;
    margin-bottom: -5px;
}

.texto2Home {
    background-image: url("../assets/img/two.jpg");
    background-size: cover; 
    height: 900px;
}

.texto2Home h2 {
    padding: 60px 60px;
    
}

.containerTexto2 {
    display: flex; /* Utilizamos flexbox */
    flex-direction: row; /*en direccion de fila */
    justify-content: space-between; /* Espacio entre los elementos */
    padding-top: 120px;
}

.divHome1,
.divHome2,
.divHome3 {
    flex: 1; /* Cada div ocupará el mismo ancho */
    padding: 20px; /* Espacio interior para un mejor aspecto */
    background-color: rgba(0, 0, 0, 0.596);
    margin: 10px;
    border-radius: 10px;
}


/** Estilos para el "footer" que se repite en las 5 paginas*/

.footer {
    background-color: rgba(8, 12, 21, 0.912);
    height: 200px;
    color: white;
    display: flex;
}
.containerFooter1 {
    width: 50%;
}
.containerFooter1 li {
    display: inline;
}
.containerFooter1 img {
    width: 40px;
    margin: 20px;
    padding-top: 40px;
}
.containerFooter2 {
    width: 50%;
    display: inline-block;
    margin-right: 50px;
    padding-left: 30%;
}
.containerFooter2 ul {
    list-style-type: none;
    margin: 50px;
}
.containerFooter2 li {
    margin: 30px;
}
.containerFooter2 a {
    color: white;
    list-style-type: none;
}


/* este estilo de header se repite en 4 paginas */
.header {
    /* background-color: rgb(32, 33, 36);  */
    background-color: rgba(30, 30, 49, 0.782);
    height: 300px;
    padding-top: 20px;
}

/** Estilos para la pagina n° 2 (historia) */
/* En esta seccion se implementa grids */
.section-grid {
    background-image: url("../assets/img/fondo_1.jpg");
    background-size: cover;
    display: grid;
    width: 100%;
    height: 120rem;
    /* grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(16,1fr); */
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-template-areas:
    ". . . . . . . ." 
    ". grid2 grid2 . grid4 grid4 grid4 ."
    ". grid2 grid2 . grid4 grid4 grid4 ."
    ". grid3 grid3 . grid4 grid4 grid4 ."
    ". grid3 grid3 . grid4 grid4 grid4 ."
    ". . gridH3 gridH3 gridH3 gridH3 . ."
    ". grid5 grid5 grid6 grid6 grid7 grid7 ."
    ". grid5 grid5 grid6 grid6 grid7 grid7 ."
    ". grid5 grid5 grid8 grid8 grid7 grid7 ."
    ". grid5 grid5 grid8 grid8 grid9 grid9 ."
    ". grid5 grid5 grid8 grid8 grid9 grid9 ."
    ". . . . . . . ."
    ;
    gap: 10px;
}
.grid2 {
    grid-area: grid2;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.443); 
}
.grid3 { 
    grid-area: grid3;   
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.443);
}
.grid4 {
    grid-area: grid4;
    text-align: center;
    background-color: rgba(20, 29, 54, 0.311);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.485);
    padding: 120px 80px 0 80px;
}
.grid5 {
    grid-area: grid5;
    text-align: center;
    background-color: rgba(20, 29, 54, 0.311);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.485);
    padding: 160px 80px 0 80px;
}
.grid6 {
    grid-area: grid6;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.grid7 {
    grid-area: grid7;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.grid8 {
    grid-area: grid8;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.grid9 {
    grid-area: grid9;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.gridH3 {
    grid-area: gridH3;
    text-align: center;
    padding-top: 20px;
    animation: desvanecer 5s ease-in-out infinite alternate;
}
.section-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/** Estilos para la pagina n° 3 (multimedia) */
.sectionMultimedia {
    background-image: url("../assets/img/fondo_2.jpg");
    background-size: cover;
    width: 100%;
    height: 150rem;
    display: flex;
    flex-direction: column; 
}
.section-galeria {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 8,1fr;
    grid-template-rows: 6,1fr;
    grid-template-areas: 
    ". . . gridT1 gridT1 . . . "
    ". img1 img1 img2 img2 img3 img3 ."
    ". img1 img1 img2 img2 img3 img3 ."
    ". img4 img4 img5 img5 img6 img6 ."
    ". img4 img4 img5 img5 img6 img6 ."
    ". . . . . . . ."
    
    ;
}
.gridT1 {
    grid-area: gridT1;
}
.img1 {
    grid-area: img1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.img2 {
    grid-area: img2;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.img3 {
    grid-area: img3;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.img4 {
    grid-area: img4;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.img5 {
    grid-area: img5;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.img6 {
    grid-area: img6;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.section-galeria img {
    width: 28.125rem;
    height: 20rem;
    box-shadow: 0 0 20px rgba(35, 36, 44, 0.5);
    margin-left: 30px;
}
.section-galeria h3 {
    text-align: center;
    padding-top: 50px;
}

.section-videos {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 4,1fr;
    grid-template-rows: 4,1fr;
    grid-template-areas: 
    ". . gridT2 gridT2 . ."
    ". . vid1 vid1 . ."
    ". . vid2 vid2 . ."
    ". . vid3 vid3 . ."
    ;
}
.gridT2 {
    grid-area: gridT2;
}
.vid1 {
    grid-area: vid1;
    width: 100%;
    height: 100%;
}
.vid2 {
    grid-area: vid2;
    width: 100%;
    height: 100%;
}
.vid3 {
    grid-area: vid3;
    width: 100%;
    height: 100%;
}
.section-videos video {
    width: 34.375rem;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    justify-self: center;
    box-shadow: 0 0 20px rgba(35, 36, 44, 0.5);
}
.section-videos h3 {
    text-align: center;
}



/** Estilos para la pagina n° 4 (Paises) */
.mainPaises {
    background-image: url("../assets/img/fondo_3.jpg");
    background-size: cover;
    width: 100%;
    height: 150rem;
}
.sectionPaises1 {
    width: 100%;
    height: 40%;
    display: flex;
    padding-top: 6.25rem;
}
.divPaises {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.25rem;
    width: 50%;
    height: 40rem;
    display: flex;
    align-items: center;
    margin-left: 12.5rem;
    margin-top: 6rem;
}
.divPaises p {
    text-align: center;
    margin: 50px 100px;
}
.divPaisesImg {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    margin-left: 16rem;
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* Transición suave */
}
.divPaisesImg img {
    width: 25rem;
    height: 18.75rem;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
}
.divPaisesImg:hover img {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.sectionH3 {
    width: 100%;
    height: 10%;
}
.h3Paises h3 {
    text-align: center;
    
}

.sectionPaises2 {
    width: 100%;
    height: 50%;
    display: flex;
}  
.banderas {
    width: 50%;
    height: 60%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 12.5rem; 
}
.listaBanderas {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 600px;
    height: 75rem;
}
.banderas li {
    list-style-type: none;
}
.listaBanderas img {
    width: 120px;
    height: auto;
    margin-left: 240px;
}
.banderas h4 {
    color: #F2F3FD;
    font-size: 20px;
    margin-right: 0;
    text-align: center;
}

.videoAntartida {
    width: 50%;
    padding-top: 300px;
    margin-left: 14rem;
}
.videoAntartida video {
    width: 30rem;
    height: auto;
    border-radius: 1.25rem;
}


 /** Estilos para la pagina n° 5 (Proyecto) */

.mainProyecto {
    background-image: url("../assets/img/fondo_4.jpg");
    background-size: cover;
    width: 100%;
    height: 120rem;
}
.sectionProyecto {
    width: 70%;
    height: 100%;
    display:inline-block;
    
}
.sectionProyecto p {
    background-color: rgba(92, 102, 110, 0.533);
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
    padding: 100px 60px 30px 60px;
}
.articleProyecto {
    width: 600px;
    height: 400px;
    display: block;
    margin: 100px;
}
.articleProyecto h3 {
    text-align: center;
    padding-top: 50px;
    margin: 40px;
}
.photos {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0; 
    margin: 30px;
}
.photos img {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    margin-top: 90px;
    margin-bottom: 90px;
    box-shadow:  0 5px 5px rgba(0, 0, 0, 0.456);
}   


/** Diseño responsive utilizando Media Queries **/ /* Estandar max-width:1840 */

@media (max-width:1822px) {
    .navegador {
        margin: 0 50px 0 1000px;
        }
} 

@media (max-width:1676px) {
    /* seccion navegador */
    .navegador {
        margin: 0 50px 0 800px;
    }
    /*Pagina 2 (Historia) */
    .grid4 {
        padding: 80px 60px 0 60px;
    }
    .grid5 {
        padding: 50px 60px 0 60px;
    } 
}

@media (max-width:1493px) {
    /* Estilos de pagina 2 "Historia" */
    .section-grid {
        grid-template-areas:
    ". . . . . . . ." 
    ". grid2 grid2 . grid4 grid4 grid4 ."
    ". grid2 grid2 . grid4 grid4 grid4 ."
    ". grid3 grid3 . grid4 grid4 grid4 ."
    ". grid3 grid3 . grid4 grid4 grid4 ."
    ". . gridH3 gridH3 gridH3 gridH3 . ."
    ". grid5 grid5 grid6 grid6 grid7 grid7 ."
    ". grid5 grid5 grid6 grid6 grid7 grid7 ."
    ". grid5 grid5 grid8 grid8 grid9 grid9 ."
    ". grid5 grid5 grid8 grid8 grid9 grid9 ."
    ". grid5 grid5 . . . . ."
    ". . . . . . . ."
    ;
    }
    
}

@media (max-width:1440px) {
    /* "Navegador" */
    .navegador {
        margin: 0 50px 0 50px;
        padding-left: 300px; 
    }
    /* pagina principal*/
    .texto1Home {
        padding: 100px 20px 20px 20px;
    }
    /* pagina 2 (Historia) */
    .grid4 {
        padding: 50px 30px 0 30px;
    }
    .grid5 {
        padding: 60px 30px 0 30px;
    } 
    /* seccion "footer" */
    .containerFooter2 {
        padding-left: 20%;
    }
} 

@media (max-width:1270px) {
    /* pagina 2 (Historia) */
    .grid4 {
        padding: 40px 10px 0 10px;
    }
    .grid5 {
        padding: 40px 10px 0 10px;
    } 
    /* seccion "footer" */
    .containerFooter2 {
        padding-left: 15%;
    }
}


@media (max-width:1025px) {
    /* Estilos genereles */
    h2 {
        font-size: 2.6rem;
    }
    h3 {
        font-size: 1.9rem;
    }
    p {
        font-size: 1.1rem;
    }
    /* seccion "navegador" */
    .navegador {
        padding-left: 160px;
    } 
    /* pagina principal */ 
    .portada h1 {
        font-size: 5rem;
    }
    .articleHome2 li {
        font-size: 1.3rem;
    } 
    /* seccion "footer" */
    .containerFooter2 {
        padding-left: 15%;
    }
    /* Pagina 2 "historia" */
    .section-grid img {
        width: 280px;
        height: 280px;
        object-fit: cover;
    }
    .grid4 {
        height:600px;
        padding-top: 80px;
    }
    .grid5 {
        height: 600px;
        padding-top: 60px;
    }
}


@media (max-width:918px) {
    /* pagina 2 (Historia) */
    .grid5 {
        height: 800px;
    }
}

@media (max-width:850px) {
    /* Pagina principal */
    .portada h1 {
        margin-top: 150px;
    }
    /* pagina 2 (Historia) */
    .section-grid {
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(7,1fr);
        grid-template-areas:
        ". . grid2 grid2 . ." 
        ". . grid3 grid3 . ."
        ". grid4 grid4 grid4 grid4."
        ". gridH3 gridH3 gridH3 gridH3 ."
        ". grid5 grid5 grid5 grid5 ."
        ". grid6 grid6 grid7 grid7 ."
        ". grid8 grid8 grid9 grid9 ."
        ;
    }
    .section-grid h3 {
        padding-top: 80px;
    }
    .grid4 {
        height: 370px;
        padding-top: 20px;
    }
    .grid5 {
        height: 300px;
        padding-top: 20px;
    }
    /* Seccion "footer" */
    .containerFooter2 {
        padding-left: 10%;
    }
}

@media (max-width:821px) {
    /* seccion "navegador" */
    .navegador {
        padding-left: 100px;
    }  
}

/** tamaño de tablet (Ipod mini) */
@media (max-width:769px) {
    /* estilos generales */
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    /* seccion header */
    .header h1 {
        padding-top: 70px;
    }  
    
/* pagina principal */
    .portada h1 {
        font-size: 5.5rem;
    } 
    .animacion1 {
        animation: none;
    }

    /* seccion navegador */
    .navegador {
        position: fixed; 
        left: 0;
        margin: 20px;
        padding-left: 90px; 
        background-color: rgba(0, 0, 0, 0.168);
    }
    .navegador .menu {
        width: 100%;
        height: 0;
        overflow: hidden;
        top: 0;
    }
    .navegador .menu a {
        font-size: 1.2rem;
        
    }
    .navegador .menu li {
        margin: 20px 0 20px 0;
    }
    .navegador ul {
        flex-direction: column;
        align-items: center;
        padding: 8px 0;
    } 
    .navegador label {
        display: inline-flex;
        cursor: pointer;
    }
    .navegador #toggle:checked ~ .menu {
        height: 100%;
    }
    .navegador li {
        display: block;
    }
    /* Pagina principal */
    .texto1Home {
        padding: 120px 20px 20px 20px;
    }
    .articleHome1, .articleHome2 {
        margin-top: 10px;
    }
    .articleHome2 h3 {
        padding-top: 20px;
    }
    .articleHome2 ul {
        padding-top: 20px; 
    }
    .articleHome2 li {
        font-size: 1rem;
    }
    
    /* seccion footer */
    .containerFooter1 img {
        width: 30px;
    }
    .containerFooter2 li {
        font-size: .875rem;
    }
    .containerFooter2 ul {
        display: inline;
    }

    /* pagina 2 "historia" */
    .section-grid img {
        width: 200px;
        height: 200px;
        object-fit:cover;
        justify-content: center;
        margin-left: 25px;
    }
    .gridH3 {
        margin-top: 10px;
    }
    .grid2 {
        margin-top: 10px;
    }
    .grid3 {
        align-content: center;
    }
    
}

@media (max-width:690px) {
    /* Estilos generales */
    h1 {
        font-size: 3rem;
    }
    /* Estilos del "navegador" */
    .navegador {
        padding-left: 50px;
    }
    /* Estilos pagina principal */
    .portada h1 {
        font-size: 3rem;
    }
    .texto1Home {
        height: 75rem;
        display: flex;
        flex-direction: column;
    }
    .texto2Home {
        height: 75rem;
    }
    .containerTexto2 {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:644px) {
    /* seccion "footer" */
    .containerFooter2 {
        padding-left: 0;
    }
    .containerFooter1 img {
        margin: 15px;
    }
}

@media (max-width:608px) {
    /* Seccion "navegador" */
    .navegador {
        padding: 0;
    }
    .navegador li {
        margin: 0;
    }
    .navegador li a {
        font-size: .8125rem;
    }
    /* seccion "footer" */
    .footer {
        height: 300px;
    }
}

/** Tamaño de mobil */

@media (max-width: 375px) {
    /* Estilos generales */
    h1 {
        font-size: 3rem;
        
    } 
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.3rem;
    }
   /* Seccion "Navegador" */
    .navegador {
        margin: 0;
        border-radius: 0;
    }
    .navegador li {
        margin: 0 0 0 15px;
        padding: 0px;
    }
    .navegador li a {
        font-size: .8125rem;
        margin: 0;
        padding: 0;
    }
    /* Pagina principal */
    .portada {
        height: 400px;
    }
    .texto1Home {
        height: 87.5rem;
    }
    .articleHome2 li {
        font-size: 1.2rem;
    }
    .homePhoto img {
        height: 400px;
    }
    .texto2Home {
        height: 1400px;
    }
    .divHome1,
    .divHome2,
    .divHome3, h3 p {
        text-align: center;
    }
    /* Seccion "footer" */
    .containerFooter1 {
        width: 50%;
    }
    .containerFooter2 {
        width: 50%;
        padding-left: 10%;
    }
    .containerFooter2 li {
        margin: 50px;
    }
}



@media (max-width:361px) {
    .navegador li {
        margin: 0 0 0 10px;
        padding: 0px;
    }
}

@media (max-width:347px) {
    /* seccion footer */
    .containerFooter1 img {
        width: 25px;
    }
}


@media (max-width:336px) {
    /* seccion navegador */
    .navegador li {
        margin: 0 0 0 5px;
        padding: 0px;
    }
    /* seccion footer */
    .containerFooter1 img {
        width: 22px;
    }
    /* Pagina 2 "Historia" */
    .section-grid {
        place-items: center;
        height: 180rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8fr);
        grid-template-areas:
        "grid4"
        "grid2" 
        "grid3"
        "grid6"
        "grid5"
        "grid7"
        "grid8"
        "grid9"
        ;
        gap: 0;
    }
    .section-grid img {
        width: 250px;
        height: 250px;
        margin: 0;
    }
    .gridH3 {
        display: none;
    }
    .grid4 {
        height: 440px;
        padding-top: 5px;
        margin-top: 20px;
    }
    .grid5 {
        height: 320px;
        padding-top: 5px;
    }
}

/** tamaño (iphone SE) 320px */
@media (max-width:321px) {
    /* Estilos generales */
    h1 {
        font-size: 2.6rem;
        margin-top: 50px;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    p {
        font-size: .9375rem;
    }
    /* Pagina principal */
    .portada h1 {
        margin-top: 70px;
    }
    .texto1Home {
        height: 60rem;
    }
    .texto2Home {
        height: 65rem;
    }
    .texto2Home h2 {
        padding: 50px 20px 0 20px;
    }
    
    /* Seccion "footer" */
    .footer {
        height: 400px;
        flex-wrap: wrap;
    }
    .containerFooter1 {
        width: 100%;
        height: 50%;
        flex-direction: row;
        padding: 20px;
    }
    .containerFooter1 img {
        width: 30px;
    }
    .containerFooter2 {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
    }
    .containerFooter2 li {
        margin: 0;
        padding: 10px;
        text-align: center;
    }
    
}